
<h1>Welcome to tic-tac-toe game!</h1>

<table id="board">
    <tr>
        <td id="0" class="cell">{{board[0]}} </td>
        <td id="1" class="cell">{{board[1]}}</td>
        <td id="2" class="cell">{{board[2]}}</td>
    </tr>
    <tr>
        <td id="3" class="cell">{{board[3]}}</td>
        <td id="4" class="cell">{{board[4]}}</td>
        <td id="5" class="cell">{{board[5]}}</td>
    </tr>
    <tr>
        <td id="6" class="cell">{{board[6]}}</td>
        <td id="7" class="cell">{{board[7]}}</td>
        <td id="8" class="cell">{{board[8]}}</td>
    </tr>
</table>

<p>{{state}}</p>